# List

In [124]:
x = 3

In [2]:
y = [4, 7, 55, 89] #list
y

[4, 7, 55, 89]

In [3]:
name= ['shahzad', 'mohsin', 'hamza']
name

['shahzad', 'mohsin', 'hamza']

In [4]:
z = ['karachi', 1945, 23.7]
z

['karachi', 1945, 23.7]

In [5]:
fruits = ['apple', 'mango', 'peach', 'banana'] 
#index =    0        1         2         3
fruits[2]

'peach'

In [6]:
len(fruits)

4

In [7]:
del fruits[1]  #implace
fruits

['apple', 'peach', 'banana']

In [8]:
fruits.remove('apple') # by remove function
fruits

['peach', 'banana']

In [9]:
fruits.remove('Apple')
fruits

ValueError: list.remove(x): x not in list

In [10]:
del fruits[4]  #inplace
fruits

IndexError: list assignment index out of range

In [11]:
fruits

['peach', 'banana']

In [12]:
fruits[1] = 'mango'
fruits

['peach', 'mango']

In [13]:
fruits.append('apple')
fruits

['peach', 'mango', 'apple']

In [14]:
fruits.insert(0, 'grape')
fruits

['grape', 'peach', 'mango', 'apple']

In [16]:
fruits.insert(10, 'orange')
fruits

['grape', 'peach', 'mango', 'apple', 'grape', 'orange']

In [17]:
fruits.index('orange')

5

In [18]:
fruits.insert(10, 120)
fruits

['grape', 'peach', 'mango', 'apple', 'grape', 'orange', 120]

In [20]:
fruits.count('grape')

2

In [24]:
a = [2, 5, 34, 67, 34, 12]
a.sort()
a

[2, 5, 12, 34, 34, 67]

In [25]:
a = [2, 5, 34, 67, 34, 12]
a.sort(reverse=True) # Descending Order
a

[67, 34, 34, 12, 5, 2]

In [57]:
random = [27, 45, 12, 89, 33, 99]
random.reverse() # reverse list without sorting
random

[99, 33, 89, 12, 45, 27]

In [27]:
b = random # pass by reference
b

[99, 33, 89, 12, 45, 27]

In [29]:
random.append(120)

In [30]:
b

[99, 33, 89, 12, 45, 27, 120, 120]

In [31]:
b.append('new')
random

[99, 33, 89, 12, 45, 27, 120, 120, 'new']

In [32]:
c = random.copy()

In [33]:
c

[99, 33, 89, 12, 45, 27, 120, 120, 'new']

In [34]:
c.append(131)

In [35]:
c

[99, 33, 89, 12, 45, 27, 120, 120, 'new', 131]

In [56]:
random

[]

In [53]:
poppedElement = random.pop()

IndexError: pop from empty list

In [54]:
random

[]

In [55]:
poppedElement

99

In [58]:
random

[99, 33, 89, 12, 45, 27]

In [89]:
newList = []

In [90]:
random = [27, 45, 12, 89, 33, 99]

In [103]:
newList.append(random.pop())

IndexError: pop from empty list

In [104]:
newList

[99, 33, 89, 12, 45, 27]

In [105]:
newList

[99, 33, 89, 12, 45, 27]

In [106]:
newList.pop(2)

89

# Slicing

In [108]:
alist = [10,9,8,7,6,5,4,3,2,1]
#index =[0,1, 2,3,4,5,6,7,8,9]

In [111]:
alist[2:5]

[8, 7, 6]

In [112]:
alist[2:]

[8, 7, 6, 5, 4, 3, 2, 1]

In [113]:
alist[:7]

[10, 9, 8, 7, 6, 5, 4]

In [114]:
alist[5:2]

[]

In [116]:
students=['asad', 'fahad', 'kami', 'hasan','saad', 'faisal']
#index      -6     -5       -4      -3      -2         -1

In [117]:
students[-1]

'faisal'

In [118]:
students[-5]

'fahad'

In [119]:
students[-3:]

['hasan', 'saad', 'faisal']

In [121]:
students

['asad', 'fahad', 'kami', 'hasan', 'saad', 'faisal']

In [123]:
students[-5:4]

['fahad', 'kami', 'hasan']

# Tuples

In [129]:
a = (1,2,'3',4,5,6, "asad")

In [130]:
a

(1, 2, '3', 4, 5, 6, 'asad')

In [131]:
a[3]

4

In [128]:
a[3]=232

TypeError: 'tuple' object does not support item assignment

In [132]:
a = 2,3,4   # packing

In [133]:
a

(2, 3, 4)

In [134]:
x,y,z = a # unpacking

In [135]:
x

2

In [136]:
y

3

In [137]:
z

4

# List in list tuple in list etcetc

In [144]:
listInList = [1,2,3,['apple','orange','banana',[22,33,44]]]

In [145]:
listInList

[1, 2, 3, ['apple', 'orange', 'banana', [22, 33, 44]]]

In [146]:
listInList[3][3][0]

22

In [141]:
listInList[3][0]

'apple'

In [142]:
listInList[3][0]='eggs'

In [143]:
listInList

[1, 2, 3, ['eggs', 'orange', 'banana']]

In [147]:
listInList.insert(0,"apple")

In [148]:
listInList

['apple', 1, 2, 3, ['apple', 'orange', 'banana', [22, 33, 44]]]

In [149]:
alist = [1,2,3,4,['a','b','c']]

alist[4].insert(0,'d')

In [150]:
alist

[1, 2, 3, 4, ['d', 'a', 'b', 'c']]

In [151]:
alist[4].remove('d')

In [152]:
alist

[1, 2, 3, 4, ['a', 'b', 'c']]

In [153]:
age =20
name = 'asad'

print(f"my name is {name} and my age is {age}")

my name is asad and my age is 20

In [154]:
print("my name is {} and my age is {}".format(name,age))

my name is asad and my age is 20