# Our First Class

This is our first class and today is 5th day of Ramadan.

In [7]:
print(123) #Integer

123

In [8]:
print('Hello PIAIC') #String

Hello PIAIC

In [9]:
print("Hello PIAIC") #String

Hello PIAIC

In [12]:
print(12.3) #Float

12.3

In [14]:
print(123, 'Hello', "False", 12.3)

123 Hello False 12.3

In [15]:
print(False) #Bool

False

In [20]:
print(123, 'Hello', "False", 12.3, sep = " IAmASeperator ")

123 IAmASeperator Hello IAmASeperator False IAmASeperator 12.3

In [23]:
print('Hello World', end= '\t') # \t = tab
print('Hello Python', end = '\t')
print('Hello PIAIC')

Hello World	Hello Python	Hello PIAIC

How many escape characters in Python?

In [24]:
name = "asad"

In [25]:
id(name)

140274504492456

In [26]:
name = "Nasir"

In [27]:
id(name)

140274394736936

In [28]:
1234 = "ALi"

SyntaxError: can't assign to literal (<ipython-input-28-e7c031a58946>, line 1)

In [29]:
1name = 'Ali'

SyntaxError: invalid syntax (<ipython-input-29-e5896f37c537>, line 1)

In [30]:
na1me = 'Hussain'

In [31]:
$name = 'asad'

SyntaxError: invalid syntax (<ipython-input-31-f08e6ce87dc0>, line 1)

In [32]:
*name = 'asad'

SyntaxError: starred assignment target must be in a list or tuple (cell_name, line 4)

In [33]:
_name = 'asad'

In [34]:
_ = 'test'

In [35]:
-name = 'asad'

SyntaxError: can't assign to operator (<ipython-input-35-26a85bf200c8>, line 1)

In [36]:
if = 'asad'

SyntaxError: invalid syntax (<ipython-input-36-9e40de3fa1cb>, line 1)

In [37]:
na me = 'asad'

SyntaxError: invalid syntax (<ipython-input-37-61d1811c9aec>, line 1)

In [38]:
x = 1234

In [39]:
x + 2

1236

In [40]:
x

1234

In [41]:
x = x + 2

In [42]:
print(x)

1236

# Concatenation

In [43]:
x = 2
y = '2'
z = x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
z = str(x) + y

In [45]:
print(z)

22

In [46]:
z = x + int(y)

In [50]:
print(z)
print(name)
z

4
Nasir

4

In [52]:
age = 23
name = 'shahzad'
print('My name is ' + name + ' and my age is ' + str(age))

My name is shahzad and my age is 23

In [55]:
age = input('What is your age? ')
name = input('What is your name? ')
print('My name is ' + name + ' and my age is ' + str(age))

What is your age? 25
What is your name? Nasir
My name is Nasir and my age is 25

In [56]:
age = input('What is your age? ')
name = input('What is your name? ')
print('My name is {} and my age is {}'.format(name, age)) # {}placeholder

What is your age? 26
What is your name? Nasir
My name is Nasir and my age is 26

In [58]:
age = input('What is your age? ')
name = input('What is your name? ')
print('My name is {0} and my age is {1}'.format(name, age))

What is your age? 26
What is your name? Ali
My name is Ali and my age is Ali

In [59]:
age = input('What is your age? ')
name = input('What is your name? ')
print(f'My name is {name} and my age is {age}')

What is your age? 23
What is your name? Shahzad
My name is Shahzad and my age is 23