# For Loop

In [1]:
students = ['hamza', 'hassan', 'saqib', 'shahzad']

In [2]:
print(students)

['hamza', 'hassan', 'saqib', 'shahzad']

In [5]:
for student in students:
    print(student)

hamza
hassan
saqib
shahzad

In [7]:
for student in students:
    if student == 'saqib':
        print(f'{student} bahar jao')
    else:
        print(f'{student } andar ajao')

hamza andar ajao
hassan andar ajao
saqib bahar jao
shahzad andar ajao

In [9]:
for a in 'pakistan':
    print(a, end = ' ')

p a k i s t a n

In [11]:
for num in range(10):
    print(num , end = ' ')

0 1 2 3 4 5 6 7 8 9

In [12]:
for num in range(1, 10):
    print(num , end = ' ')

1 2 3 4 5 6 7 8 9

In [16]:
for num in range(0,25,2):
    print(num, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24

In [18]:
for num in range(25,0,-1):
    print(num, end=" ")

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [17]:
for num in range(1,25,2):
    print(num, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23

In [14]:
tableNum = int(input('Please input table number: '))

for num in range(1, 10):
    print(f'{tableNum} * {num} = {tableNum * num}')

Please input table number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [19]:
tableNum = int(input('Please input table number: '))

for num in range(1, 10):
    if num % 2 == 0:
        continue
    else:
        print(f'{tableNum} * {num} = {tableNum * num}')

Please input table number: 2
2 * 1 = 2
2 * 3 = 6
2 * 5 = 10
2 * 7 = 14
2 * 9 = 18

In [21]:
tableNum = int(input('Please input table number: '))

for num in range(1, 10):
    if num % 2 == 0:
        break
    else:
        print(f'{tableNum} * {num} = {tableNum * num}')

Please input table number: 4
4 * 1 = 4

In [22]:
Best_friend = []

for num in range(10):
    name = input("Enter your friend name: ")
    if name.startswith('a'):
        Best_friend.append(name)
Best_friend

Enter your friend name: ali
Enter your friend name: ahmed
Enter your friend name: zohaib
Enter your friend name: hamza
Enter your friend name: ahsan
Enter your friend name: komail
Enter your friend name: fahad
Enter your friend name: asad
Enter your friend name: saif
Enter your friend name: shery

['ali', 'ahmed', 'ahsan', 'asad']

# Nested for loop

In [3]:
for a in [1,2,3]:
    for b in 'nasir':
        print(a,b)

1 n
1 a
1 s
1 i
1 r
2 n
2 a
2 s
2 i
2 r
3 n
3 a
3 s
3 i
3 r

In [7]:
for tabNums in range(2,9):
    print("----------")
    for num in range(1,11):
        print(f'{tabNums} * {num} = {tabNums * num}')

----------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

# list comprehension

In [8]:
a=[1,2,3,4,5,6,7,8,9]
squares=[]
for num in a:
    squares.append(num**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
[ num**2 for num in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
squares=[ num**2 for num in range(1,10) if num>4]

In [12]:
squares

[25, 36, 49, 64, 81]