#    Dictionaries

dictionary works on key value pair

In [1]:
my_dictionary  ={}

In [2]:
type(my_dictionary)

dict

In [3]:
len(my_dictionary)

0

In [4]:
my_dictionary={'name':"Nasir Hussain"}
#               key  :    value

In [5]:
my_dictionary['name']

'Nasir Hussain'

In [6]:
my_dictionary['age']=23

In [7]:
my_dictionary

{'name': 'Nasir Hussain', 'age': 23}

In [8]:
del my_dictionary['age']

In [9]:
my_dictionary

{'name': 'Nasir Hussain'}

In [10]:
my_dictionary[100]="HelloPakistan"

In [11]:
my_dictionary

{'name': 'Nasir Hussain', 100: 'HelloPakistan'}

In [13]:
my_dictionary={'name': 'Nasir Hussain', "age":23, 'Degree':"Masters"}

In [14]:
# keys()
#values()
# items()

In [15]:
for k in my_dictionary.keys():
    print(k)

name
age
Degree

In [16]:
for k in my_dictionary.values():
    print(k)

Nasir Hussain
23
Masters

In [17]:
for k,v in my_dictionary.items():
    print(k, v)

name Nasir Hussain
age 23
Degree Masters

In [20]:
for k in my_dictionary.keys():
    if my_dictionary[k])

kutch bhi
the man is young
kutch bhi

# Dictionary functions Do yourselves

Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and values
get()	Returns the value of the specified key
items()	Returns a list containing the a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

In [21]:
100 in [1,2,3,4,5,6,100]

True

In [22]:
'name' in my_dictionary

True

In [26]:
my_dictionary={'name': 'Nasir Hussain', 'age': 23, 'Degree': 'Masters', 'name':"asad"}
my_dictionary

{'name': 'asad', 'age': 23, 'Degree': 'Masters'}

list in list
tupple in list
dictionary in list

tupple in tupple
list in tupple
dictionary in tupple

dictionary in dictionary
list in dictionary 
tupple in dictionary

# List in List

In [37]:
a = [1,2,3,4]
b= [2,4,56]
c = [22,33,44,55, a,b]

c

[22, 33, 44, 55, [1, 2, 3, 4], [2, 4, 56]]

In [38]:
del c[5][2]
c

[22, 33, 44, 55, [1, 2, 3, 4], [2, 4]]

# tupple in list

In [42]:
a = 1,2,3,4,5,6
b =2, 4, 6, 8
c=[1,2,a,b]
c

[1, 2, (1, 2, 3, 4, 5, 6), (2, 4, 6, 8)]

In [43]:
del c[2]

In [44]:
c

[1, 2, (2, 4, 6, 8)]

In [45]:
alist = [11,22,33,my_dictionary]
alist

[11, 22, 33, {'name': 'asad', 'age': 23, 'Degree': 'Masters'}]

In [46]:
alist[3]['Degree']

'Masters'

# tupple in tupple,list in tupple,dictionary in tupple

# Khud Karen

In [47]:
adict = {'name':"pakistan", 'ages':my_dictionary}
adict

{'name': 'pakistan', 'ages': {'name': 'asad', 'age': 23, 'Degree': 'Masters'}}

In [48]:
adict['ages']['Degree']

'Masters'

In [49]:
a=[]
a.append({"name":"nasir"})
a

[{'name': 'nasir'}]